image_data:
  dataset_name: zh-plus/tiny-imagenet
  processor_name: facebook/vit-mae-base
  total_size: 10000
  seed: 42
  train_fraction: 0.9


base_model:
  ckpt: base_models_for_TTA/vit2_full_sync

activity_data:
  batch_size: 8
  shuffle: True
  seed: 42
  device: mps

loss_model:
  _name_: gradient
  params:
    num_transformer_layers: 6
    num_fc_layers: 2
    step_size: 100.
    lr: 5e-5

train:
  max_epochs: 10
  run_name: debug

debug:
  train_as_validation: False

hydra:
  run:
    dir: experiments_loss/${now:%Y-%m-%d\(%H:%M:%S\)}-${train.run_name}

  sweep:
    dir: experiments_loss/sweeps/${now:%Y-%m-%d\(%H:%M:%S\)}-${train.run_name}
    subdir: ${hydra.job.num}